.fond{
    background-size: cover;
    width: 100%;
    height: 570px;
}
.peidp{
    display: flex;
    
    height: 100px;
}
.logo{
    margin-top: 5px;
    margin-left: 15px;
    background-size: cover;
    height: 50px;
    width: 20%;
    border: 1px solid #E90505;
}